/*
#ffcf56
#e83f6f #d72839
#1dd1b6
#212842 #bbc2dd
#487df9
*/

body {
  background-color: black;
  font-family: Helvetica;
  color: white;
  display: flex;
  /*overflow: hidden;*/
}

app {
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px ;
    background-color: black;
}

#ball{
  width:100px;
  height:100px;
  background-color:red;
  border-radius:50%;
  z-index: 3;
}

#aWrapper {
    /*Horizontally centers the canvas*/
    /*margin: 0 auto;*/
    /*height: 500px;
    width: 80%;*/
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 1px solid #212842;
    display: flex;
}

#backgroundCanvas {
    height: inherit;
    width: inherit;
    position: absolute;
    z-index:0;
}

#potatoCanvas {
    height: 100%;
    width: 100%;
    transition: 2s;
    z-index:2;
    opacity:0;
}

#melcontour {
    height: inherit;
    width:inherit;
    transition: 5s;
    z-index:1;
    opacity:0;
    position: fixed;
}

bottom { /*SCRITTA IN BASSO COI NOMI*/
    text-align: center;
    color: white;
    font-size: 15px;
    font-variant: small-caps;
    top:22px;
}

dam {   /*Tutta la parte di sotto CTRL + KB + SYNTH*/
    width: 100vw;
    height: auto;
    display: inline-block;

    font-variant: small-caps;
    border: 3px solid red;
  }

ctrl {
    width: 100%;
    height: 60px;
    display: block;
}

synthCtrl { /*dx*/
  border: 1px solid white;
  width: 48%;
  height: auto;
  display: inline-block;
}

left{  /*sx*/
  display: inline-block;
  width: 48%;
  height: 100%;
  border: 2px solid green;
}

#controlli {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #212842;
    font-variant: small-caps;
}

#midi_in {
    float: left;
    height: 100%;
    width: 80px;
    text-align: center;
    display: grid;
    font-size: 15px;

}

#led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;
    position: relative;
    transform: translate(0,-100%);

}

.led_off {
    background-color: darkred;
}
.led_on {
    background-color: red;
}

button {
    height: 20px;
    width: 100px;
    font-size: 12px;
    background-color: #e83f6f;
    color: white;
    margin: 8px;
    display: inline-grid;
    border: none;
    float: left;
    position: relative;
    transform: translate(0,12px);
}

button:active {
     box-shadow: 0 0 8px #ffcf56 ;
     border: 1px solid #ffcf56;
     color: #ffcfff;
     background-color: #e83f73;
}
.btn_acceso {
    box-shadow: 0 0 5px white ;
    border: 1px solid yellow;
    background-color: yellow;
    /*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
}

#searchButton {
  height: 30px;
  vertical-align: middle;
  top:-5px;

}

#startButton {

}
